{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/general.jpg" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="General's Quarters"/>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4"> General's Quarters</h1>
                <p>Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a id="check-availability-button" href="#!" class="btn btn-success"> Check Availability </a>
            </div>
        </div>

    </div>

{{end}}

{{define "js"}}
<script>
      document.getElementById("check-availability-button").addEventListener("click", function(){               
               let html =  `
          <form id="check-availability-form" action="" class="needs-validation scroll-hide" method="post" novalidate>
            <div class="row">
                <div class="col">
                    <div class="row" id="reservation-dates-modal">
                        <div class="col">
                           <input disabled class="form-control" type="text" name="start" id="start" placeholder="Arrival" required/>                            
                        </div>
                        <div class="col">
                           <input disabled class="form-control" type="text" name="end" id="end" placeholder="Departure" required/>                            
                        </div>
                    </div>
                </div>    
            </div>
          </form>
        
        `;
        attention.custom({html, title:"Choose your dates"});
        })
</script>
{{end}}