{{template "base" .}}

{{define "content"}}
    <div class="container">
    <div class="row">
    <div class="col-md-8 coffset-2">
        <h1 class="mt-2">Login</h1>
        <form method="post" action="/user/login" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>
          <div class="form-group mt-5 mb-3">
                        <label for="email">E-Mail:</label>
                        {{with .Form.Errors.Get "email"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="email" class= "form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" 
                        required placeholder="Email" name="email" 
                        id="email" value="" autocomplete="off"/>
            </div>

            <div class="form-group mb-3">
                        <label for="password">Password:</label>
                        {{with .Form.Errors.Get "password"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="password" class= "form-control {{with .Form.Errors.Get "password"}} is-invalid {{end}}" 
                        required placeholder="Password" name="password" 
                        id="password" value="" autocomplete="off"/>
            </div>

            <hr/>

            <input type="submit" class="btn btn-primary" value="submit"/>
        
        </form>
        </div>
        </div>
        </div>
{{end}}