{{template "base" .}}

{{define "content"}}
  <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/major.jpg" class="img-fluid img-thumbnail mx-auto d-block room-image"
                    alt="Major's Suite" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4"> Major's Suite</h1>
                <p>Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a id="check-availability-button" href="#!" class="btn btn-success"> Check Availability </a>
            </div>
        </div>

    </div>

{{end}}

{{define "js"}}
<script>
      document.getElementById("check-availability-button").addEventListener("click", function(){               
               let html =  `
          <form id="check-availability-form" action="" class="needs-validation scroll-hide" method="post" novalidate>
            <div class="row">
                <div class="col">
                    <div class="row" id="reservation-dates-modal">
                        <div class="col">
                           <input disabled class="form-control" type="text" name="start" id="start" placeholder="Arrival" required autocomplete="off"/>                            
                        </div>
                        <div class="col">
                           <input disabled class="form-control" type="text" name="end" id="end" placeholder="Departure" required autocomplete="off"/>                            
                        </div>
                    </div>
                </div>    
            </div>
          </form>
        
        `;
        attention.custom({
        html, 
        title:"Choose your dates",
         willOpen:()=>{
            const elem = document.getElementById('reservation-dates-modal')
            const rp= new DateRangePicker(elem,{
                format: 'yyyy-mm-dd',
                showOnFocus:true,
                orientation: 'top auto',
                minDate: new Date(),
            })
            },
          didOpen: () => {
            document.getElementById('start').removeAttribute('disabled');
            document.getElementById('end').removeAttribute('disabled');
            },
        callback: function(result){
            console.log("called");

            const form = document.getElementById("check-availability-form");
            const formData = new FormData(form);
            formData.append("csrf_token", "{{.CSRFToken}}");
            formData.append("room_id","2");

            fetch('/search-availability-json',{
            method: "post",
            body: formData,            
            })
            .then(response=>response.json())
            .then(data=>{
               if (data.ok){
               attention.custom({
               icon: 'success',
               showConfirmButton: false,               
               html: '<p>Room is available!</p>'
               + '<p><a href="/book-room?id='
               + data.room_id
               + '&s='
               + data.start_date
               + '&e='
               + data.end_date
               + '"class="btn btn-primary">'
               + 'Book now!</a></p>',
               })
               } else{
                attention.error({
                text: "No Availability",
                })
               }
            })
        }
        });
        })
</script>
{{end}}